.tabBox {
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  
  .MuiTabs-flexContainer {
    gap: 16px;
  }
  
  button {
    min-width: auto;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

// .MuiTabs-scrollButtons.Mui-disabled {
//   opacity: 0.3;
// }
