@import "src/styles/variables";
@import "src/styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}

header, section, nav, footer {
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  
  &:link,
  &:visited,
  a:focus {
    text-decoration: none;
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
  
  &::placeholder {
    opacity: 0.4;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}